.statecard{
  width: 300px;
  height: 300px;
  margin-left: 4rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color:#252A34;
}


.heading{
 padding: 2rem 0 0 0.5rem;
 text-align: center;
 font-size: 23px;
 color:#08D9D6;
}

.data{
  padding: 1rem 0 0 2rem;
  font-size: 18px;
  color: #EEE;
  margin: 16px 0 9rem 16px;
}

@media (max-width:800px) {
  .statecard{
    margin-left: 2rem;
  }    
}

@media (max-width:500px) {
    .statecard{
      grid-template-columns: repeat(1, 0.5fr); 
      margin-left: 6rem;
    }    
  }
