.states{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

@media (max-width:800px) {
  .states{
    grid-template-columns: repeat(2, 1fr); 
    margin-right: 0px;
  }    
}

@media (max-width:500px) {
    .states{
      grid-template-columns: repeat(1, 0.5fr); 
      margin-right: 0px;
    }    
  }